body{
    background-color: rgb(231, 231, 231);
    color: rgb(160, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 45px;
}
h2 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 40px;
}
h3 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 35px;
}
h4 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 30px;
}
h5 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 25px;
}
h6 {
    background-color: rgb(231, 231, 231);
    color: rgb(109, 0, 0);
    font-size: 20px;
}
aside {
    background-color: rgb(231, 231, 231);
    color: rgb(179, 0, 0);
}
p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(195, 0, 0);
}
a {
    color:rgb(160, 0, 0)
}
button {
    background-color: rgb(178, 0, 0);
    color: rgb(231, 231, 231);
    border: red 2px solid;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
footer {
    background-color: rgb(231, 231, 231);
    color: rgb(160, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
